{erl_opts,
	[
	  debug_info
	, fail_on_warning
	]}.

{deps, [
	{cowboy,   ".*", {git, "git://github.com/extend/cowboy", "master"}},
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", "v2.3.2"}},
	{edown,    ".*", {git, "https://github.com/esl/edown.git", "0.3.1"}}
]}.

{edoc_opts, [
	  {doclet, edown_doclet}
	, {app_default, "http://www.erlang.org/doc/man"}
	, {top_level_readme
		, {"./README.md", "http://github.com/lafka/tavern"}}]}.

{eunit_opts,    [verbose]}.
{cover_enabled, true}.
