{erl_opts,
	[
	  debug_info
	, fail_on_warning
	]}.

{lib_dirs, ["deps"]}.

{deps,
	[
		{cowboy,   ".*", {git, "git://github.com/extend/cowboy"}},
		{erlsom,   ".*", {git, "git://github.com/willemdj/erlsom"}},
		{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb", "v2.3.2"}},
		{tavern,   ".*", {git, "git@eos:misc/tavern"}}
	]}.

{eunit_opts,    [verbose]}.
{cover_enabled, true}.
